DB_HOST=localhost
DB_PORT=3306
DB_NAME=bloomland_erpbloomland
DB_USER=bloomland_adminerbloom
DB_PASS=hEE&x^UNJE9OAGDs
DB_CHARSET=utf8mb4

JWT_SECRET=A1B2C3D4E5F6G7H8I9J0K1L2M3N4O5P6
JWT_EXPIRATION=3600
APP_DEBUG=true
WP_TABLE_PREFIX=wpmk_
APP_URL=https://api.bloomland.com.pe
FRONTEND_URL=https://erp.bloomland.com.pe
